.modal {
    /* background for content box, hidden by default */
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    position: fixed;
    
    background-color: rgba(0,0,0,0.4);
}

.modalContent {
    /* foreground box, contains enlarged post */
    width: 80%;
    margin: 15% auto;
}